body {
  padding-top: 8px;
  padding-bottom: 20px;

}

.admin:link {
  color: black;
}
.admin:hover {
  background-color: black;
  color: #eee
}


.login {
  color: black;
  position: relative;
}

.bleft {
  text-align: right;
}
.menu {
  text-align: center;
}

.js {
  text-shadow: 1px 1px 1px #bbbbbb;
}

table {
  background-color: white;
}
th,td,.cent {
  text-align: center;
}
.one {
  color: #6699FF;
}
.tow {
  color: #FFCC66;
}
.tree {
  color: #CC66FF;
}
.one, .tow, .tree {
  text-align: left;
  text-shadow: 1px 1px 1px #bbbbbb;
}

.chart {
  text-align: center;
  background-color: white;
}

.waik {
  border: 1px solid #337ab7;
  border-radius: 3px;
  padding: 10px;
  background-color: white;
}

.col-input {
  margin-bottom: 10px;
}
